
.td1{

  text-align: center;
  /*padding: 8px;
  border: 1px solid;
  width: 16%;*/
  background-color: white;

  -webkit-transition: all 0.12s ease-out;
}
.table1{
  /*border-collapse: collapse;*/
  width: 100%;
  background-color: red;
}
/*.td1:hover{
  background-color: #e6e6e6;
  -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
